{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tables.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main class="containerAccueil">
  <h1 class="rustic-title">Bienvenue chez SDBM</h1>

  <h2>Société Des Bières du Monde</h2>

  <p class="intro-text">
    Découvrez notre passion pour la bière artisanale. Nos créations sont soigneusement brassées pour offrir des saveurs uniques et authentiques.
  </p>

  <div class="img-container">
    {# chemin pour image en local
    <img src="{{ asset('images/Bieres.png') }}" alt="2 verres de bières"> #}
    <img src="../assets/images/Bieres.png" alt="2 verres de bières">
  </div>

  <a href="{{ path('app_article_index') }}" class="cta-button">En savoir plus</a>
</main>
{% endblock %}
