/* Style de la pagination personnalisée */
/* Le fichier pour la pagination est : twitter_bootstrap_v4_pagination.html.twig */
/* Le chemin : vendor/knplabs/knp-paginator-bundle/Templates\Pagination */

.custom-pagination .pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
    list-style: none;
}

.custom-pagination .rustic-page-link a {
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    color: #6B4226;
    background-color: #f5e6d3;
    border: 1px solid #B8860B;
    padding: 10px 15px;
    margin: 0 3px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.custom-pagination .rustic-page-link a:hover {
    color: #B8860B;
    background-color: #f2e1c9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-pagination .rustic-page-link-active a {
    color: #FFFFFF;
    background-color: #6B4226;
    border-color: #B8860B;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.custom-pagination .unavailable a {
    color: #ccc;
    cursor: default;
    background-color: #f8f9fa;
}

.custom-pagination .arrow a {
    font-weight: bold;
    color: #6B4226;
}

